@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-field-contact {
    @apply rounded-md mt-1 block w-full shadow-sm focus:shadow-md p-2 border-[3px]  transition-all duration-200;
  }
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #333333 #d2c8ff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #c8c8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
}
